<div class="container" id="mainDIV" *ngIf="product">
  <div class="main-details-wrap">
    <div class="details-wrapper sec-padding" *ngIf="product">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
        <div
          fxLayout="row wrap"
          fxFlex="100"
          fxFlex.gt-md="100"
          fxFlex.gt-sm="100"
        >
          <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
            <!-- <mat-card class="product-image">
                     <div *ngFor="let image of product.pictures">
                        <ngx-image-zoom   [thumbImage]="image" [fullImage]="image" zoomMode="hover"
                    ></ngx-image-zoom>
                     </div>
                  </mat-card> -->
            <mat-card class="product-image">
              <div>
                <button mat-icon-button fxHide="false" fxHide.gt-md>
                  <mat-icon>fullscreen</mat-icon>
                </button>
                <img [src]="product.images[bigProductImageIndex]" />
              </div>
              <a (click)="openProductDialog(product, bigProductImageIndex)"
                ><mat-icon>zoom_in</mat-icon></a
              >
            </mat-card>

            <div class="small-carousel">
              <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                  <div
                    *ngFor="let image of product?.images; let i = index"
                    class="swiper-slide"
                  >
                    <mat-card (click)="selectImage(i)" class="p-1">
                      <img [src]="image" class="swiper-lazy" />
                      <div class="swiper-lazy-preloader"></div>
                    </mat-card>
                  </div>
                </div>
                <button mat-icon-button class="swiper-button-prev swipe-arrow">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button class="swiper-button-next swipe-arrow">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div
            fxFlex="100"
            fxFlex.gt-md="50"
            fxFlex.md="55"
            ngClass.gt-sm="px-3 m-0"
            ngClass.sm="mt-2"
            ngClass.xs="mt-2"
          >
            <div class="product-right">
              <div class="product-details">
                <h2>{{ product.name }}</h2>
                <h3 class="price" *ngIf="!productsService?.catalogMode">
                  {{
                    product.caption
                  }}
                </h3>
                <p class="text-muted description">{{ product.description }}</p>
              </div>
              <div class="py-1 mt-15 mb-15">
                <p>
                  <span class="text-muted fw-500">Avalibility: </span>
                  <span class="avalibility"
                    ><span>In Stock</span></span
                  >
                </p>
              </div>
              <div class="quantity mb-15">
                <div
                  fxLayout="row"
                  fxLayout.xs="column"
                  class="text-muted mt-20"
                >
                  <div
                    class="quantity-box"
                    fxLayout="row"
                    fxLayoutAlign="center start"
                  >
                    <button
                      mat-icon-button
                      matTooltip="Remove"
                      (click)="decrement()"
                    >
                      <mat-icon>remove</mat-icon>
                    </button>
                    <input
                      type="text"
                      name="quantity"
                      value="{{ counter }}"
                      class="form-control input-number"
                    />
                    <button
                      mat-icon-button
                      matTooltip="Add"
                      (click)="increment()"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <div class="buttons">
                    <button
                      mat-raised-button
                      color="primary"
                      class="btn-project mr-10"
                      (click)="addToCart(product, counter)"
                    >
                      ADD TO CART
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div
        fxLayout="row wrap"
        fxHide
        fxShow.gt-sm
        fxFlex="100"
        fxFlex.gt-sm="22"
      >
        <div fxFlex="100">
          <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
            <div fxFlex="100">
              <mat-card
                class="light-block"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="mat-icon-xlg m-0">card_giftcard</mat-icon>
                <div class="content ml-10">
                  <p>BONUS PLUS</p>
                  <span class="text-muted m-0"
                    >Get a bonus plus for buying more that three products</span
                  >
                </div>
              </mat-card>
            </div>
            <div fxFlex="100">
              <mat-card
                class="light-block"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="mat-icon-xlg m-0">local_shipping</mat-icon>
                <div class="content ml-10">
                  <p>FREE SHIPPING</p>
                  <span class="text-muted m-0"
                    >Free shipping on all orders over $99</span
                  >
                </div>
              </mat-card>
            </div>
            <div fxFlex="100" class="mt-16">
              <mat-card
                class="light-block"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
                <div class="content ml-10">
                  <p>MONEY BACK GUARANTEE</p>
                  <span class="text-muted m-0">100% money back guarantee</span>
                </div>
              </mat-card>
            </div>
            <div fxFlex="100" class="mt-16">
              <mat-card
                class="light-block no-border"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
                <div class="content ml-10">
                  <p>ONLINE SUPPORT 24/7</p>
                  <span class="text-muted m-0">Call us: 02 3555 65454 55</span>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
