<div class="container">
  <div class="checkout sec-padding">
    <div fxLayout="row wrap" class="">
      <div
        class="billing-details pr-15"
        fxFlex="100"
        fxFlex.gt-md="50"
        fxFlex.md="50"
      >
        <div class="header-title">
          <h2>Billing Details</h2>
        </div>

        <form fxLayout="row wrap">
          <div
            fxFlex="100"
            fxFlex.gt-sm="100"
            class="mt-20"
            ngClass.sm="mt-10"
            ngClass.xs="mt-10"
          >
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Full name"
                [(ngModel)]="name"
                name="name"
              />
            </mat-form-field>
          </div>
          <div
            fxFlex="100"
            fxFlex.gt-sm="100"
            class="mt-20"
            ngClass.sm="mt-10"
            ngClass.xs="mt-10"
          >
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Email Address"
                [(ngModel)]="email"
                name="email"
              />
            </mat-form-field>
          </div>
          <div
            fxFlex="100"
            fxFlex.gt-sm="100"
            class="mt-20"
            ngClass.sm="mt-10"
            ngClass.xs="mt-10"
          >
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Address"
                [(ngModel)]="line1"
                name="address"
              />
            </mat-form-field>
          </div>
          <div
            fxFlex="100"
            fxFlex.gt-md="50"
            fxFlex.md="50"
            class="mt-20 pr-5"
            ngClass.sm="mt-10"
            ngClass.xs="mt-10"
          >
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="City"
                [(ngModel)]="city"
                name="city"
              />
            </mat-form-field>
          </div>
          <div
            fxFlex="100"
            fxFlex.gt-md="50"
            fxFlex.md="50"
            class="pl-5 mt-20"
            ngClass.sm="mt-10"
            ngClass.xs="mt-10"
          >
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Postcode"
                [(ngModel)]="postal_code"
                name="postcode"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
      <div
        class="mainOrder-wrapper pl-15"
        fxFlex="100"
        fxFlex.gt-md="50"
        fxFlex.md="50"
      >
        <div class="main-order">
          <div class="order-box">
            <div class="title-box">
              <div>Product <span class="tl-amount"> Total</span></div>
            </div>
            <ul class="price-list" *ngIf="buyProducts.length">
              <li *ngFor="let item of buyProducts">
                {{ item.product.name }} × {{ item.quantity }}
              </li>
            </ul>
            <ul class="quantity" *ngIf="buyProducts.length <= 0">
              <li class="empty-checkout">There are no products in cart</li>
            </ul>
            <ul class="total-amount">
              <li>
                Subtotal <span class="amount">{{ total }} KM</span>
              </li>
              <li *ngIf="buyProducts.length">
                Shipping
                <div class="shipping">
                  <div class="shopping-option">
                    Free Shipping
                  </div>
                </div>
              </li>
            </ul>
            <ul class="total">
              <li>
                Total <span class="count">{{ total }} KM</span>
              </li>
            </ul>
            <div class="paymentFinal">
              <stripe-card
                #stripeCard
                (tokenChange)="setStripeToken($event)"
                (sourceChange)="setStripeSource($event)"
              ></stripe-card>
            </div>
            <div class="order">
              <button
                class="btn-project"
                mat-raised-button
                color="accent"
                type="submit"
                (click)="stripeCard.createToken()"
              >
                PLACE ORDER
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
